<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container text-center">
    <h3 style="margin-top: 48px;">比特学院入门课</h3>
    <p style="margin-top: 24px;">我们的微信群已经达到100人扫码加入的上限，你可以扫码关注微信公众号“数字货币说”并回复“比特学院”进入课程微信群，感谢充满好奇心的你的关注！</p>
    <img src="/img/qr_code_wechat_account.jpg" width="240" height="240" style="margin-top: 24px;"/>
  </div>
</body>
</html>
